
h1, h2{
	text-align: center;
    font-family: sans-serif;
}

h2 a{
    text-decoration: none;
    
}

.content{
    margin: 0 auto;
    text-align: center;
}

.square:hover{
    border: solid 2px;
}

.square{
    display: inline-block;
	margin: 150px auto;
	height: 100px;
	width: 100px;

}

#red {
	background-color: red;
}

#blue{
	background-color: blue;
}

#green{
	background-color: green;
}

#yellow{
	background-color: gold;
}


/* Media queries. Mobile build. */

/*@media handheld and (max-width: 600px){
	body {
	background-color: white;
	}

.redSquare, .blueSquare, .greenSquare, .yellowSquare{
    display: block;
	margin: 0 auto;
	width: 100%;
	}
}

@media screen and (max-width: 600px){
	body {
	background-color: white;
	}

.redSquare, .blueSquare, .greenSquare, .yellowSquare{
    display: block;
	margin: 0 auto;
	width: 100%;
	}
}*/
