
h1, h2{
	text-align: center;
    font-family: sans-serif;
}

h2 a{
    text-decoration: none;
    
}

.content{
    margin: 0 auto;
    text-align: center;
}

.redSquare:hover, .blueSquare:hover, .greenSquare:hover, .yellowSquare:hover{
    border: solid 2px;
}

.redSquare, .blueSquare, .greenSquare, .yellowSquare{
    display: inline-block;
	margin: 150px auto;
	height: 100px;
	width: 100px;
	background-color: red;

}

.blueSquare{
	background-color: blue;
}

.greenSquare{
	background-color: green;
}

.yellowSquare{
	background-color: gold;
}


/* Media queries. Mobile build. */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	body {
	background-color: white;
	}

.redSquare, .blueSquare, .greenSquare, .yellowSquare{
    display: block;
	margin: 0 auto;
	width: 100%;


}